body{
    overflow-x: hidden;
}
/* FONT */
.fw-semibold{
    font-weight: 500;
}
.f-2{
    font-size: 2px;
}
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.f-24{
    font-size: 24px;
}
.f-40{
    font-size: 40px;
}

.btn{
    border-radius: 10px;
    border-color: black;
    background-color: white;
}
.padding{
    border-radius: 10px;
    border-color: black;
    background-color: white;
}
.lineleft{
    margin-top: -750px;
    margin-left: -80px;
    z-index: -9999;
}
