@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Poppins';
}
/* FONT */
.fw-semibold{
    font-weight: 500;
}
.f-2{
    font-size: 2px;
}
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.f-24{
    font-size: 24px;
}
.f-40{
    font-size: 40px;
}

.btn{
    border-radius: 10px;
    border-color: black;
    background-color: white;
}
@media only screen and (max-width: 768px) {
    .padding{
    border-radius: 20px;
    background-color: white;
    }
}
@media only screen and (min-width: 769px) {
    .padding{
        border-radius: 10px;
        border-color: black;
        background-color: white;
    }
}
.btnmobile{
    border-radius: 20px;
    border-color: transparent;
    background-color: white;   
}
.btnmobile2{
    border-radius: 15px;
    border-color: transparent;
    background-color: white;   
}
.lineleft{
    margin-top: -750px;
    margin-left: -80px;
    z-index: -9999;
}
